/* === KILL SWITCH MET CIJFERS === */

/* We gebruiken een 'Attribute Selector' om de cijfer-regel te omzeilen */

[class*="1-sociaal-domein"],
/*
[class*="2-mentaal-domein"],
[class*="3-fysiek-domein"],
[class*="4-emotioneel-domein"],
[class*="5-spiritueel-domein"] {
    display: none !important;
}
*/

